.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #F0F0F0;
  color: white;
}

.base {
  background-color: black;
}

.highlight {
  color: #9b1c31;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar a, a.active {
  color:white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar a:hover, .bi:hover {
  transition: 0.25s;
  color:#9b1c31;
}

.navbar-base {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 48%, rgba(255,255,255,0) 100%);
}

.landing {
  width: 100%;
  min-height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/neel.jpg);
  box-shadow: 1px 1px 100px 100px black inset; /* linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(9,9,121,0) 48%, rgba(0,0,0,1) 80%), Original Gradient line*/
  background-size: cover;
  font-size: 4rem;
  text-shadow: 13px 12px 10px #000000;
  font-family: 'Times New Roman', Times, serif;
}

.icon {
  color: white;
  font-size: 1.5rem;
}

.card-color {
  background-color: rgb(230, 230, 230);
}

.btn-style {
  background-color: #9b1c31;
  color: white;
}

.btn-style:hover {
  transition: 0.25s;
  background-color: rgb(116, 0, 0);
  color: white;
}

.default {
  background-color: #F0F0F0;
  color: black;
}

.visiting img {
  max-width: 100%;
  height: auto;
}

.banner-img {
  max-width: 100%;
  height: 120px;
  overflow: hidden;
  background-size: cover;
}

.exh-banner {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #000000;  
  box-shadow: inset 0px 0px 55px 38px rgba(0,0,0,0.95); 
  color: rgb(255, 255, 255);
}

.exh-1 {
  background-image: url(images/Americas/Coronation\ Stone\ of\ Motecuhzoma\ II\ \(Stone\ of\ the\ Five\ Suns\).jpg);
  background-position: 30% 25%;
}

.exh-2 {
  background-image: url(images/Europe/Bust\ Of\ A\ Youth.jpg);
  background-position: 30% 35%;
}

.exh-3 {
  background-image: url(images/Egypt/bust2.jpg);
  background-position: 75% 30%;
}

.exh-4 {
  background-image: url(images/Asia/Bodhisattva.jpg);
  background-position: 30% 15%;
}

a:hover {
  color:red;
}

.center {
  text-align: center;
  padding: 40px 0;
}

.exh-1-center {
  text-align: center;
  padding: 40px 0;
}

.exh-2-center {
  text-align: center;
  padding: 40px 0;
}

.exh-1-text {
  color:#73C2FB;
}

.exh-2-text {
  color: rgb(220, 17, 17)
}

.exh-3-text {
  color: #a98fe6;
}

.exh-4-text {
  color: rgb(241, 241, 15)
}

.exh-banner:hover {
  transition: 0.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
}

#exh-banner-1-inner:hover {
  color: #73C2FB;
}

#exh-banner-2-inner:hover {
  color: rgb(220, 17, 17)
}

#exh-banner-3-inner:hover {
  color: #a98fe6;
}

#exh-banner-4-inner:hover {
  color: rgb(241, 241, 15)
}

.input-width {
  max-width: 60%;
}

@media (width > 1100px){
  .main{
    font-size: 6rem;
  }

}

@media (width <= 1100px){
  .main{
    font-size: 4rem;
  }

  .exh-banner {
    font-size: 1.7rem
  }

}

@media (width < 994px) {
  .exh-2-center {
    text-align: center;
    padding: 25px 0;
  }
}

@media (width <= 750px){
  .main{
    font-size: 3rem;
    min-height: 800px;
  }
  .exh-2-center {
    text-align: center;
    padding: 40px 0;
  }
}

@media (width <= 550px){
  .main{
    font-size: 3rem;
  }

  .exh-banner {
    font-size: 1.9rem;
  }

  .card {
    width: 18rem;
    align-self: center;
  }
}

@media (width < 416px){ 
  .exh-2-center {
    text-align: center;
    padding: 20px 0;
  }
}

@media (width < 368px){ 
  .exh-1-center {
    text-align: center;
    padding: 15px 0;
  }
}