@media (width > 1100px){
    .main{
      font-size: 6rem;
    }
  }
  
  @media (width <= 1100px){
    .main{
      font-size: 4rem;
    }
  
    .exh-banner {
      font-size: 1.7rem
    }
  }
  
  @media (width < 994px) {
    .exh-2-center {
      text-align: center;
      padding: 25px 0;
    }
  }
  
  @media (width <= 750px){
    .main{
      font-size: 3rem;
      min-height: 800px;
    }
    .exh-2-center {
      text-align: center;
      padding: 40px 0;
    }
  }
  
  @media (width <= 550px){
    .main{
      font-size: 3rem;
    }
  
    .exh-banner {
      font-size: 1.9rem;
    }
  
    .card {
      width: 18rem;
      align-self: center;
    }
  }
  
  @media (width < 416px){ 
    .exh-2-center {
      text-align: center;
      padding: 20px 0;
    }
  }
  
  @media (width < 368px){ 
    .exh-1-center {
      text-align: center;
      padding: 15px 0;
    }
  }